.m1 {
  margin-left: 10px;
  margin-right: 550px;
}
.body-wrapper {
  margin-left: 2%;
}
.video-wrapper {
  width: 360px;
  height: 280px;
  margin: 0 auto;
}
.page-element {
  margin: 5%;
}
.custom-map {
  margin-right: 10px;
  width: 100% !important;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.custom-map iframe {
  width: 100%;
}
.main-content {
  margin: 10px 20px 0 20px;
}
.float-right {
  float: right;
}
.search-bar {
  text-align: center;
}
.search-icon {
  position: absolute;
  margin-bottom: 10px;
  padding: 10px;
}
.alert {
  margin-top: 25px;
  background-color: #24292e;
}
.test-icon {
  color: white;
}
a:link {
  color: rgb(18, 0, 133);
}
a:visited {
  color: rgb(14, 0, 102);
}

.main-pannel {
  background-color: #f8f9fa;
  margin-top: 20px;
}
